/* CSS HEX color pallete:
--space-cadet: #2c2549ff;
--liberty: #6258a9ff;
--cinnamon-satin: #b86173ff;
--myrtle-green: #386865ff;
*/



/* -- title: Name -- */
.logo {
  font-family: 'Sacramento', cursive;
  font-size: 10vw;
  font-weight: 100;
  color: #000;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

/* -- header navigation -- */

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

/* -- General Style -- */

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif; 
  color: #000;
}

header {
  height: 140px;
  margin-bottom: 20px;
}

hr {
  width:80%;
  margin:0 auto;
}

main h1 h2 {
  color: #000;
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}

main ul {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  padding-left: 0;
  list-style: none;
}

/* -- Link style -- */
a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}

a:link    { color: #000;}
a:visited { color: #b86173ff;}
a:hover   { color: #386865ff;}
a:active  { color: #6258a9ff;}

footer {
  text-align: right;
}

section {
  padding: 0 10%;
  padding-top: 30px;
  margin: 10px 0;
}

img {
  width: 100%;
}


/* --  Groups & Items  (Mobile First) -- */
.wrapper {
  width: 100%;
}

.group-row {
  display: flex;
  flex-direction: row;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 5px;
}

.item-double {
  flex: 2;
  margin: 5px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {

  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }

  .group-column {
      flex-direction: column;
    }
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }
  
  header nav {
    margin-top: 8px;
  }

}

/* Contact Form Design */
form {
  padding-right: 8px;
  /* Fixed small sizing issue on the right */
}

form label {
  display: block;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}