/* CSS HEX color pallete:
--space-cadet: #2c2549ff;
--liberty: #6258a9ff;
--cinnamon-satin: #b86173ff;
--myrtle-green: #386865ff;
*/


/* -- General Style -- */

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif; 
  color: #000;
}

header {
  height: 140px;
  padding: 0 0 0;
}

/* -- title: Name -- */
.logo {
  font-family: 'Sacramento', cursive;
  font-size: 8vw;
  font-weight: 100;
  color: #000;
  text-align: center;
  margin: 0;
  padding: 0px 0 0 0;
}

hr {
  background-color: #000;
}

main h1 h2 {
  color: #000;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

main ul {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}


/* -- Link style -- */
a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}

a:link    { color: #000;}
a:visited { color: #b86173ff;}
a:hover   { color: #386865ff;}
a:active  { color: #6258a9ff;}

footer {
  text-align: right;
}

section {
  padding: 0 10%;
  margin: 10px 0;
}

img {
  width: 100%;
}


/* --  Groups & Items  (Mobile First) -- */
.wrapper {
  width: 100%;
}

.group-pictures {
  display: flex;
  flex-direction: row;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 5px;
}

.item-double {
  flex: 2;
  margin: 5px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}