/* CSS HEX color pallete used
text color === dark-purple: #341f37ff;
pink accent color === cinnamon-satin: #bb6675ff;
blue accent === iris: #4e50d0ff;
header background color === medium-sea-green: #4abe7bff;
Light background color === gainsboro: #dce5e4ff;
*/


/* -- General Style -- */

body {
  margin: 0;
  background-color: #dce5e4ff;
  font-family: 'Work Sans', sans-serif;
  color: #341f37ff;
}

header {
  height: 140px;
  background-color:#4abe7bff; 
}

/* -- title: Name -- */
.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 90px;
  font-weight: 100;
  color: #341f37ff;
  text-align: right;
  margin: 0;
  padding: 20px 0 0 0;
}

hr {
  background-color: #341f37ff;
}

main h1 h2 h3 {
  font-family: 'Poppins', sans-serif;
  color: #341f37ff;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

main p ul ol {
  font-family: 'Work Sans', sans-serif;
  color: #341f37ff;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center ;
}


/* -- Link style -- */
a {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

a:link    { color: #341f37ff;  }
a:visited { color: #bb6675ff;   }
a:hover   { color: #4abe7bff; }
a:active  { color: #4e50d0ff;  }

footer {
  background-color: #4e50d0ff;
  text-align: right;
}

section {
  padding: 0 25%;
  margin: 80px 0;
}

img {
  align: center;
  width: 500px;
  border-radius: 5%;
}
